/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.field {
  display: flex;
  flex-direction: column;
}
.value {
  font-size: 32px;
}
.form {
  display: flex;
  align-items: self-start;
  justify-content: start;
  gap: 10px;
  flex-direction: column;
  width: 600px;
}
.form label:first {
  display: flex;
  flex-direction: column; /* текст над input */
  align-items: flex-start; /* вирівняти текст по лівому краю */
  width: 100%; /* label займатиме всю ширину форми */
  font-size: 1rem;
  color: #333;
  width: 100%;
}
